.header {
  background: yellow;
  font-size: 50px;
}

.component_div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
  cursor: pointer;
}


/* .img_foto {
  max-width: 100%;
  width: 700px;
  transition: transform 0.3s ease;
  background: green;
} */

.component_div:hover .img_foto {
  transform: scale(1.1);
  color: blue;
}

.img {
  display: flex;
  gap: 150px;
}

.text {
  color: blue;
}

.button_html {
  background: goldenrod;
  height: 50px;
  width: 100px;
}

.button_css {
  background: goldenrod;
  height: 50px;
  width: 100px;
}


@media (max-width: 400px) {
  .component_div {
    display: flex;
    align-items: center;

  }

  .text {}

  .img_foto {
    color: red;
    margin-top: 5px;
    width: 60px;
  }
}